html {
  font-size: 62.5%;
}

body {
  background: #607876 url( "/img/bg.jpg" ) 50% 0 fixed no-repeat;
  color: rgba( 254, 254, 254, 0.7 );
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba( 30, 30, 30, 0.2 );
}



/* -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 2rem;
  margin-top: 0;
}

h2 {
  color: rgba( 254, 254, 254, 0.7 );
  font-size: 2.4rem;
  letter-spacing: -0.04rem;
  line-height: 1.35;
  text-transform: uppercase;
}

hr {
  border-top: 0.43rem solid rgba( 198, 206, 204, 0.5 );
}

p {
  margin-top: 0;
}

a {
  color: #fff;
}

a:hover,
a:active,
a:visited {
  color: #eee;
}



/* -------------------------------------------------------------------------- */

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}



/* -------------------------------------------------------------------------- */

.PageHeader {
  border-bottom: 0.43rem solid rgba( 198, 206, 204, 0.5 );
  margin: 5.2rem 0 2.57rem 0;
}

.PageHeader-backdrop {
  background-color: rgba( 98, 86, 36, 0.4 );
  border-bottom: 0.64rem solid rgba( 152, 130, 55, 0.75 );
  height: 4.65rem;
  margin-bottom: -7.4rem;
}

.PageHeader-img {
  border: 0.22rem solid #fff;
  float: left;
  height: 6.44rem;
  margin-top: 0.7rem;
  width: 6.44rem;
}

.PageHeader-title {
  color: #fefefe;
  font-size: 5.3rem;
  font-weight: 500;
  line-height: 1;
  margin-left: 8.4rem;
  text-transform: uppercase;
  margin-bottom: 2.42rem;
}

.PageHeader-subtitle {
  color: rgba( 254, 254, 254, 0.7 );
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -0.04rem;
  line-height: 1;
  margin-top: 0.1rem;
  text-transform: uppercase;
}

.PageHeader-tagline {
  font-style: italic;
  margin-bottom: 2rem;
}



/* -------------------------------------------------------------------------- */

.Description {
}

.Description p:last-child {
}



/* -------------------------------------------------------------------------- */

.Selector {
  margin-top: 6rem;
}

.Selector p {
  border-top: 0.2rem solid rgba( 245, 245, 245, 0.7 );
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.Selector a {
  display: inline-block;
  line-height: 3.3rem;
  margin: 0;
  padding: 0 2rem;
  text-decoration: none;
  color: rgba( 255, 255, 255, 0.3 );
}

.Selector a.is-active {
  background-color: rgba( 245, 245, 245, 0.25 );
  color: rgba( 255, 255, 255, 1 );
}



/* -------------------------------------------------------------------------- */

.Advice {
  border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
  color: rgba( 245, 245, 245, 1 );
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0.75rem;
  position: relative;
}

.Advice__expanded {
  background-color: rgba( 50, 50, 50, 0.3 );
  height: auto;
}

.Advice-title {
  font-size: 2.1rem;
  font-weight: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.Advice-title a {
  color: rgba( 245, 245, 245, 1 );
  text-decoration: none;
}

.Advice-title a:active,
.Advice-title a:hover {
  text-decoration: underline;
}

.Advice-toggle {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.Advice-excerpt {
  color: rgba( 245, 245, 245, 0.8 );
  font-size: 1.5rem;
  margin-bottom: 0;
  overflow: hidden;
}

.Advice-meta {
  display: none;
  font-size: 1.5rem;
}

.Advice-body {
  display: none;
}

.Advice-body .md p:last-child {
  margin-bottom: 0;
}

.Advice__expanded .Advice-title {
  margin-bottom: 2rem;
}

.Advice__expanded .Advice-excerpt {
  display: none;
}

.Advice__expanded .Advice-meta,
.Advice__expanded .Advice-body {
  display: block;
}


/* -------------------------------------------------------------------------- */

#content {

}


/* -------------------------------------------------------------------------- */

.PageFooter {
  background-color: #000;
  padding: 2rem 0;
}

.Block {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.Block-inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.Block:after,
.Block-inner:after {
  clear: both;
  content: "";
  display: table;
}
